<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coba"
        tools:targetApi="31">
        <activity
            android:name=".StatusPesanan"
            android:exported="false" />
        <activity
            android:name=".Metode"
            android:exported="false" />
        <activity
            android:name=".Keranjang2"
            android:exported="false" />
        <activity
            android:name=".Ulasan"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />
        <activity
            android:name=".PembayaranSelesai"
            android:exported="false" />
        <activity
            android:name=".DetailPemesananProduk"
            android:exported="false" />
        <activity
            android:name=".Artikel"
            android:exported="false" />
        <activity
            android:name=".DetailProduk"
            android:exported="false" />
        <activity
            android:name=".RincianPesanan"
            android:exported="false" />
        <activity
            android:name=".RiwayatPembelian"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".FormFaq"
            android:exported="false" />
        <activity
            android:name=".Keranjang"
            android:exported="false" />
        <activity
            android:name=".DetailArtikel"
            android:exported="false" />
        <activity
            android:name=".KategoriPembibitan"
            android:exported="false" />
        <activity
            android:name=".PakanIkan"
            android:exported="false" />
        <activity
            android:name=".KategoriLaut"
            android:exported="false" />
        <activity
            android:name=".KategoriTawar"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
    </application>

</manifest>